.accordion { /* Assuming you have a wrapper around the accordion */
    margin: 0 auto;
    text-align:center;
}
   h5 {
    font-weight: bold;
  }
  @media (max-width: 576px) {
    .accordion{
      width: 100%; /* 33.33% on small screens */
    }
  }
  
  @media (min-width: 820px) {
    .accordion {
      width: 70%; /* 16.67% on large screens */
    }
  }